html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url("https://c.pxhere.com/photos/50/db/buttons_console_dark_design_electronics_equipment_game_nes-1559417.jpg!d");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-paginate {
  display: flex;
  list-style: none;
  height: 40px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  width: fit-content;
  align-items: center;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
}
.paginate {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}
.paginateCenter{
  text-align: -webkit-center;
}